.App {
  height: 100vh;
  width: 100vw;
}

.button {
  width: 100vw;
  max-height: 100vh;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}